*.pyc
.idea/

.DS_Store

visEnv/lib/python2.7/site-packages/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Key files
*.pem
SVMExplanation/
